@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap");
.logo {
  font-family: "Knewave", cursive;
}

#root {
  font-family: "Secular One", sans-serif;
  background-color: rgb(32,32,32);
  box-sizing: border-box;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.image-holder {
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.image-holder:hover {
  background: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0),
    rgba(0, 0, 0, 0.63),
    rgb(0, 0, 0)
  );
  opacity: 1;
}

input[type="file"] {
  display: none;
}

.line {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgb(0, 0, 0)
  );
  width: 80%;
  height: 1px;
}




@layer components {
  .input{
    @apply border-b-[3px] m-2 border-blue-900 focus:outline-none text-white bg-[rgb(40,40,40)] rounded-sm focus:border-blue-500 transition-colors
  }
  .label{
    @apply ml-2 text-lg text-white/95 
  }
  .photo{
    @apply w-[100px] h-[100px] sm:w-[150px] sm:h-[150px] md:w-[250px] md:h-[250px] lg:w-[300px] lg:h-[300px] xl:w-[400px] xl:h-[400px] 2xl:w-[500px] 2xl:h-[500px]
  }
  .text{
    @apply sm:text-xs md:text-xs lg:text-xs 2xl:text-xl
  }
  .main-text{
    @apply 2xl:text-2xl xl:text-2xl md:text-xl sm:text-base m-2
  }
  .welcome-text{
    @apply 2xl:text-7xl xl:text-6xl lg:text-5xl md:text-4xl sm:text-3xl text-2xl
  }
  .photo-text{
    @apply text-[10px] sm:text-xs md:text-xs lg:text-xs 2xl:text-xl
  } 
}